@media screen and (max-width: 1200px){ /*MD*/
    body{
        border: solid 2px red;
    }
}
@media screen and (max-width: 1024px){
    body{
        border: solid 2px blue;
    }
}
@media screen and (max-width: 992px){ /*SM*/
    body{
        border: solid 2px violet;
    }
}
@media screen and (max-width: 800px){
    body{
        border: solid 2px yellow;
    }
}
@media screen and (max-width: 768px){/*XS*/
    body{
        border: solid 2px black;
    }
}

@media screen and (max-width: 600px){
    body{
        border: solid 2px yellowgreen;
    }
}
@media screen and (max-width: 320px){
    body{
        border: solid 2px tomato;
    }
}

