/*@font-face{
    font-family: "segoeuisl";
    src: url("../fonts/segoeuil.ttf");
}*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fff;
    //background-image: url("../img/background.jpg");
    background-position: top;
    background-repeat: no-repeat;
}
.container{
    max-width: 1200px;
    
}
/*-----------------------FILA 1 ----------------------------------------------*/

/*-----------------------FILA 2 ----------------------------------------------*/

/*----------------------FORMULARIO--------------------------------------------*/

/*-----------------------FILA 3 DE AGRADECIMIENTO--------------------------------*/
