@font-face{
    //font-family: "segoeui";
    //src: url("../fonts/segoeui.ttf");
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fff;
    //background-image: url("../img/background.jpg");
    background-position: top;
    background-repeat: no-repeat;
}
.container{
    max-width: 1200px;
    
}
/*-----------------------FILA 1 ----------------------------------------------*/
/*----CONTADOR----*/
.count{
    max-width: 340px;
    margin: 0 auto;
}
.count_title{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: #e11971;
    line-height: 30px;
    margin-top: 20px;
    text-shadow: 0px 0px 10px #ff0;
}
.count_box{
    margin-top: 40px;
    font-size:  24px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #019d01;
    box-shadow: -2px -2px 3px #555;
}
/*---------FORMULARIO------------*/
#form_box{
    max-width: 270px;
    margin: 0 auto;
    background-color: rgba(31, 51, 85, 0.4);;
    padding: 25px 10px;
    border-radius: 5px;
}
.form-group input{
    color: #555;
    font-size: 18px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 10px;
    box-shadow: 2px -2px 3px #555;
}
#form-botton{
    width: 100%;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #ff4b05;
    box-shadow: 2px -2px 3px #555;
}
.form-control::-webkit-input-placeholder {
   color: #fff;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.form-control:-ms-input-placeholder {  
   color: #fff;  
}
/*-----------------------FILA 2 ----------------------------------------------*/

/*-----------------------FILA 3 ----------------------------------------------*/

/*-----------------------FILA 3 DE AGRADECIMIENTO--------------------------------*/
